{{ use('frontend/assets/AppAsset') }}
{{ use('frontend/widgets/HeadMenu') }}
{{ use('frontend/widgets/Catalog') }}
{{ register_app_asset(this) }}
{{ this.beginPage }}
<!DOCTYPE html>
<html lang="">

<head>


    <meta charset="{{ app.charset }}">
    {{ html.csrfMetaTags | raw }}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="NOINDEX, NOFOLLOW">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>{{ html.decode(Seo.get('title')) }}</title>
    <meta name="description" content="{{ html.decode(Seo.get('description')) }}">
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#0f0f0f">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#0f0f0f">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#0f0f0f">
    {{  this.head  }}


</head>
<body>
{{ this.beginBody }}
<header class="header" id="header">

    <!-- Header TOP -->
    <div class="header__top">
        <div class="container">

            <div class="col-xs-4 col-sm-4 col-md-5 header__top-left">
                <!-- phones -->
                <div class="header__call_back">
                    <span class="phone_number">{{ this.params.phone_header|raw }}
                    <a href="" class="btn_call_back" data-toggle="modal" data-target="#myModal">{{ this.params.callme }}</a>
                    <div class="time_job">
                        <img src="/img/header/clock.png" alt="">
                        {#ежедневно - с 9:00 до 22:00#}{{ this.params.timework }}</div>
                </div>
                <!-- /phones -->


            </div>
            <div class="col-xs-4 col-sm-4 col-md-2 header__top-center">
                <a href="{{ Url.home() }}"><img src="/img/header/logo.png" alt=""></a>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-5 header__top-right">

                <div class="header__login">
                    <img src="/img/header/login.png">
                    {% if app.user.isGuest %}
                    <span class=""><span  data-toggle="modal" data-target="#myModal_2" >{#Войти#}{{ this.params.login }}</span>/<span data-toggle="modal" data-target="#myModal_1" >{#Регистрация#}{{ this.params.registration }}</span></span>
                    {% else %}
                        <span class=""><a href="{{ Url.toRoute('/user/index') }}">{#Профиль#}{{ this.params.profile }}</a>/<a href="{{ Url.toRoute('/logout') }}" >{#Регистрация#}{#Выйти#}{{ this.params.exit }}</a></a></span>
                    {% endif %}
                </div>

                <div class="header__lang">

                    <div class="b-lang">
                        {% for l in this.params.langs %}
                        {% if l == this.params.lang %}
                        <div class="b-lang__current"><span>{{ l.name|slice(0,3) }}</span></div>
                        {% endif %}
                        {% endfor %}
                        <ul class="b-lang__list">

                            {% for l in this.params.langs %}
                                {% if l != this.params.lang %}
                                    <li class="b-lang__item"><a href="{{ l.langUrl  }}">{{ l.name|slice(0,3) }}</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                <a href="{{ Url.toRoute('/backet') }}" class="header__basket">
                    <span><img src="/img/header/basket.png" alt=""></span>
                    <div class="basket_info">
                        <div class="title">{#Ваш заказ#}{{ this.params.your_order }}</div>
                        <div class="price"><span class="js-backet-price">{{ this.params.cost }}</span> <span>{{ this.params.grn }}</span></div>
                        <div class="count "><span class="js-backet-count">{{ this.params.cart_count }}</span> {#товара#} {{ this.params.count_tovar }}</div>
                    </div>

                </a>

            </div>
        </div>
    </div>
    <!-- /Header TOP -->

    <!-- Header BOTTOM -->
    {{ head_menu_widget({'mobile':false}) }}
    <!-- /Header BOTTOM -->

</header>
<div class="b-mobile-nav js-mobile-nav">
    <div class="js-nav-toggle b-mobile-nav__toggle"><span class="icon-nav">toggle menu</span></div>
    <div class="b-mobile-nav__heading">
        <a href="{{ Url.home() }}" class="">{{ this.params.main }}</a>
    </div>
    <div class="b-mobile-nav_wrapper js-scrollPane">
        <ul class="b-mobile-nav__list">
            {{ head_menu_widget({'mobile':true}) }}



        </ul>

        <ul class="b-mobile-nav__list">
            <li class="b-mobile-nav__item js-accordion__item">
                {% for l in this.params.langs %}
                {% if l == this.params.lang %}
                <span class="b-mobile-nav__link b-mobile-nav__link_accordion js-accordion__trigger">{{ l.name|slice(0,3) }}</span>
                {% endif %}
                {% endfor %}
                <ul class="b-mobile-subnav js-accordion__content">
                    {% for l in this.params.langs %}
                    {% if l != this.params.lang %}
                    <li class="b-mobile-nav__item">
                        <a href="{{ l.langUrl  }}" class="b-mobile-nav__link">{{ l.name|slice(0,3) }}</a>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </li>
         </span>



            <li class="b-mobile-nav__item">
                {% if app.user.isGuest %}
                <a class="b-mobile-nav__link" href="{{ Url.toRoute('/login') }}" data-toggle="modal" data-target="#myModal_2" >{#Личный кабинет#}{{ this.params.profile }}</a> <a href="{{ Url.toRoute('/logup') }}" class="b-mobile-nav__link" data-toggle="modal" data-target="#myModal_1" >{#Регистрация#}{{ this.params.registration }}</a>
                {% else %}
                    <a class="b-mobile-nav__link" href="{{ Url.toRoute('/user/index') }}">{#Профиль#}{{ this.params.login }}</a><a  class="b-mobile-nav__link" href="{{ Url.toRoute('/logout') }}" >{#Регистрация#}{{ this.params.exit }}</a>
                {% endif %}
            </li>
        </ul>

{#
        {{ catalog_widget({'bottom':false}) }}
#}
    </div>
</div>
<!-- /HEADER -->


{{ content | raw }}



<!-- FOOTER -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-4">
                <div class="block-1">
                    <img src="/img/header/logo.png" alt="">
                    <div class="txt_block-1">{#Пекарня осетинских пирогов "ИРОН-КАБИС" - единственная в Киеве, где пекут настоящие осетинские пироги с пылу, с жару в дровяной печи.#} {{ this.params.text_footer }}</div>
                </div>

            </div>
            {{ catalog_widget({'bottom':true}) }}
            <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
                <div class="block-3">
                    <div class="title_block">{{ this.params.contacts }}</div>
                    <div class="address">{#Киев,  Верхний Вал, 66#}{{ this.params.address }}</div>
                    <div class="phone">
                        <span class="title">{#Телефон#}{{ this.params.phone }}:</span>
                        <span class="value">{#(044) 444 55 66#}{{ this.params.phone_1 }}</span>
                    </div>
                    <div class="phone">
                        <span class="title">{{ this.params.phone }}:</span>
                        <span class="value">{#(044) 555 66 77#}{{ this.params.phone_2 }}</span>
                    </div>
                    <div class="email">
                        <span class="title">Email:</span>
                        <span class="value">{{ this.params.mail_footer }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom_block">
        <div class="container">
            <div class="">
                <div class="left_block">
                   {# ПЕКАРНЯ «ИРОН — КАБИС»#}{{ this.params.name_of_company }}
                </div>
                <div class="right_block">
                    <ul class="soc_list">

                        <li class="item">
                            <a href="{{ this.params.vk_link }}" class="link_item ">
                                <i class="fab fa-vk"></i>
                            </a>
                        </li>

                        <li class="item">
                            <a href="{{ this.params.fb_link }}" class="link_item ">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>

                        <li class="item">
                            <a href="{{ this.params.tw_link }}" class="link_item ">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>

                        <li class="item">
                            <a href="{{ this.params.linkedin_link }}" class="link_item ">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>

                        <li class="item">
                            <a href="{{ this.params.inst_link }}" class="link_item ">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>

        </div>
    </div>
</footer>
<!-- /FOOTER -->
<div id="modal_1_success"  style="z-index: 1000000;" class="modal fade myModal_ok">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal">×</button>
                <span class="js-successs"></span>
            </div>
            <div class="modal-body">

                <button  class="btn_ok" data-dismiss="modal">ok</button>

            </div>
        </div>
    </div>
</div>
<div id="modal_success"  class="modal fade myModal_link">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal">×</button>
                Товар добавлен
            </div>
            <div class="modal-body">




                    <a href="{{ Url.toRoute('/backet') }}" class="btn_link">Перейти в корзину</a>

            </div>


        </div>
    </div>
</div>
<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal">×</button>
                {#Обратный звонок#}{{ this.params.callback }}
            </div>

            <div class="modal-body">
                <form id="js-callback" class="call_back">

                    <input type="text" id="name_callback" name="name" class="name_callback" required placeholder="{{ this.params.your_name }}"/>

                    <input type="text" id="phone_callback" name="phone" class="phone_callback" required placeholder="{{ this.params.phone }}"/>

                    <button type="submit" class="btn_send">{{ this.params.send }}</button>

                </form>
            </div>


        </div>
    </div>
</div>

<div id="myModal_1" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal">×</button>
                {{ this.params.registration }}
            </div>

            <div class="modal-body">
                <form id="sign-up" class="call_back">

                    <input type="text" id="username" class="name_callback" name="username" required placeholder="{{ this.params.your_name }}"/>

                    <input type="text" id="phone" class="phone_callback" name="phone" required placeholder="{{ this.params.phone }}"/>

                    <input type="text" id="email" class="email_callback" name="email" required placeholder="e-mail"/>

                    <input type="password" id="password" class="password_callback" name="password" required  placeholder="{{ this.params.password }}"/>

                    <input type="password" id="password_repick" class="password_callback" name="password_repick" required placeholder="{{ this.params.password }}"/>

                    <button type="submit" class="btn_send">{#Зарегистрироваться#}{{ this.params.registration }}</button>
                    <span class="js-registration-answer"></span>

                </form>
            </div>


        </div>
    </div>
</div>

<div id="myModal_2" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal">×</button>
                {{ this.params.login }}
            </div>

            <div class="modal-body">
                <form id="sign-in" class="call_back">

                    <input type="text"  name="email" class="email_callback" required placeholder=" e-mail"/>

                    <input type="password"  name="password" class="password_callback" required  placeholder="{{ this.params.password }}"/>

                    <button type="submit" class="btn_send">{{ this.params.login }}</button>
                    <span class="js-answer-status"></span>
                </form>
            </div>


        </div>
    </div>
</div>


<script defer src="https://use.fontawesome.com/releases/v5.0.4/js/all.js"></script>



{{ this.endBody }}
{% if this.params.edit_script %}
    {{ this.params.script|raw }}
{% endif %}
</body>
</html>
{{ this.endPage }}