
<div class="breadcrumbs_shares_page">
    <div class="container">
        <ul class="bread_list">
            <li class="item">
                <a href="{{ Url.home }}" class="link">{{ this.params.main }}</a>
            </li>
            <li class="item">
                <span> / </span>
            </li>
            <li class="item">
                <a{# href="{{ Url.toRoute('/discounts') }}"#} class="link">{#Акции#}{{ this.params.discounts }}</a>
            </li>

        </ul>
    </div>

</div>


<section class="shares_page">
    <div class="container">
        <h1 class="head_section">
            {{ Seo.get('h1') }}
        </h1>
        {% for discount in discounts %}
        <div class="shares_item">
            <div class="row">

                <div class="col-md-6 is__padding_right_0">
                    <div class="shares_img">
                        <img src="{{ discount.bimg }}" alt="  {{ discount.info.title }}">
                    </div>

                </div>

                <div class="col-md-6 is__padding_right_0">
                    <div class="shares_content">
                        <div class="shares_name">
                            {{ discount.info.title }}

                        </div>

                        <div class="shares_txt">
                        {{ discount.info.short_description|raw }}
                        </div>

                        <div class="shares_time_block">
                            <a href="{{ discount.url }}" class="shares_time">
                                {{ discount.info.title_on_button }}
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        {% endfor %}



        <div class="seo_txt">
            <div class="txt">
                {{ Seo.get('text')|raw }}

                 </div>
        </div>
    </div>
</section>