<nav class="breadcrumbs">
    <div class="container"><a class="breadcrumbs__item" href="index.html">Главная</a><a class="breadcrumbs__item" href="specials.html">Акции</a><a class="breadcrumbs__item" href="special.html">Название акции</a>
    </div>
</nav>
{% set mnths = ['','января','февраля','марта','апреля','мая','июня','июля','августа','сентября','октября','ноября','декабря'] %}

<main class="page__inner">
    <div class="container">
        <h1 class="page__title">{{ discount.info.title }}</h1><img src="{{ discount.bimg }}" alt="">
        <date class="page__date">{{ discount.date|date('d') }} {{ mnths[discount.date|date('n')] }} {{ discount.date|date('Y') }}</date>
        <p>{{ discount.info.text|raw }}</p>
        <div class="social-icons is--share">
            <div class="social-icons__text">Поделиться</div><a class="social-icons__link" href=""><i class="icon icon-facebook"></i></a><a class="social-icons__link" href=""><i class="icon icon-instagram"></i></a><a class="social-icons__link" href=""><i class="icon icon-vk"></i></a>
        </div>
    </div>
</main>