{{ use('frontend/widgets/Sbreadcrumbs') }}
{{ use('frontend/widgets/SLinkPager') }}

<section class="search_catalog">
    <div class="container">
        <form action="" class="row b-form_catalog" id="form_catalog">
            <div class="form-group">
                <div class="wrap_area">
                    <label for="city" class="sr-only">ГОРОД</label>
                    <input type="text" class="form-control" id="city" placeholder="ГОРОД" value="Киев, Киевская область" name="city" required>
                    <label for="radius" class="sr-only">Как далеко</label>
                    <select class="form-control" id="radius" name="radius" required>
                        <option value="" disabled="" selected="" hidden="">+0км</option>
                        <option value="5">+5км</option>
                        <option value="12">+12км</option>
                        <option value="30">+30км</option>
                    </select>
                </div>
                <label for="district" class="sr-only">РАЙОН</label>
                <select class="form-control" id="district" name="district" required>
                    <option value="" disabled="" selected="" hidden="">РАЙОН</option>
                    <option value="0">Днепровский</option>
                    <option value="1">Святошинский</option>
                    <option value="2">Печерский</option>
                </select>

                <label for="rubric" class="sr-only">РУБРИКИ</label>
                <select class="form-control" id="rubric" name="rubric" required>
                    <option value="" disabled="" selected="" hidden="">РУБРИКИ</option>
                    <option value="1">Одежда/обувь</option>
                    <option value="2">2</option>
                </select>
            </div>
            <div class="form-group">
                <input type="radio" class="radio sr-only" id="sell" value="sell" name="sellOrBuy" required>
                <label for="sell">Я предлагаю</label>
                <input type="radio" class="radio sr-only" id="buy" value="buy" name="sellOrBuy" checked required>
                <label for="buy">Я нуждаюсь</label>

                <select class="form-control" id="sort" name="sort" required>
                    <option value="" disabled="" selected="" hidden="">СОРТИРОВКА ПО</option>
                    <option value="1">Дате (по убыванию)</option>
                    <option value="2">Дате (по возрастанию)</option>
                </select>
                <label for="sort" class="sr-only">СОРТИРОВКА ПО</label>

                <input type="radio" class="ad__view ad__view_tiles sr-only" id="tiles" value="tiles" name="view" required>
                <label for="tiles"></label>
                <input type="radio" class="ad__view ad__view_list sr-only" id="list" value="list" name="view" checked required>
                <label for="list"></label>
            </div>
        </form>
    </div>
</section>
<section class="map-box_catalog">
    <div class="" id="map"></div>
</section>
<section class="section_crumds">
    <div class="container">
        {{ Sbreadcrumbs_widget({'links' : breadcrumbs}) }}
    </div>
</section>
<section class="section_catalog">
    <div class="container">
        <header class="section__header section__header_catalog">
            <h2>{{ category.info.name | raw }}</h2>
        </header>
        <div class="row">
            <div class="col-sm-9 col-xs-12">
                <div class="ajax_catalog_view">
                    <ul>
                        {% for child in category.childs %}
                            <li><a href="{{ child.url }}">{{ child.info.name | raw }} ({{ child.activeLotsCount }})</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-sm-3 hidden-xs">
                <div class="row">
                    <div class="col-sm-12">
                        <img src="/img/banner1.jpg" alt="" class="img-responsive bananer">
                    </div>
                    <div class="col-sm-12">
                        <img src="/img/banner2.jpg" alt="" class="img-responsive bananer">
                    </div>
                    <div class="col-sm-12">
                        <img src="/img/banner1.jpg" alt="" class="img-responsive bananer">
                    </div>
                    <div class="col-sm-12">
                        <img src="/img/banner3.jpg" alt="" class="img-responsive bananer">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section_pagination">
    <div class="container">
        <div class="ajax_pagination">
<!--                    ajax-->
        </div>
    </div>
</section>
{% if category.info.text %}
    <section class="section_seo">
        <div class="container container_seo">
            <div class="row">
                <div class="col-sm-8 col-xs-12">
                    <div class="b-seo">
                        <div class="seo__content">
                            <p>{{ category.info.text | raw }}</p>
                        </div>
                        <button class="b-readmore">Читать полностью</button>
                    </div>
                </div>
                <aside class="col-sm-4 hidden-xs">
                    <img src="/img/girl.jpg" alt="girl expert" class="img-responsive img_expert">
                </aside>
            </div>
        </div>
    </section>
{% endif %}