<section class="slider">
    <div class="container">
        <div class="slider__inner js-slider">
            {% for slide in slides %}
            <div class="slider__item">
                <div class="slider__photo"><img src="{{ slide.bimg }}" alt=""></div>
            </div>
         {% endfor %}

        </div>
    </div>
</section>
<section class="section section--product-recomended">
    <div class="container">
        <h2 class="section__title is--centered"><span>Topperz </span>рекомендует</h2>
        {% for product in products %}
        <form class="product" action="/order">
            <article class="product__inner"><a class="product__photo" href="{{ product.url }}"><img src="{{ product.bimg }}" alt="">{% if product.label %}<span class="product__tag product-tag is--{{ product.label.alias }}">{{ product.label.info.title }}</span>{% endif %}</a>
                <h2 class="product__title"><a href="{{ product.url }}">{{ product.info.title }}</a></h2>
                <p class="product__ingredients">
                    {% for consist in product.consists %}
                    {{ consist.consist.info.title }},
                    {% endfor %}

                <!-- Добавки-->
                <div class="product__additives">
                    <div class="product__additives-toggler"><span>Добавки</span><i class="icon icon-plus-red"></i></div>
                    <!-- Добавки - список-->
                    <div class="product__additives-details"><i class="product__additives-close icon-close-small"></i>
                        <ul class="product__additives-list">
                            {% for topic in product.topics %}
                            <li class="product__additives-item"><span class="product__additives-item-title">{{ topic.topic.info.title }}</span><span class="product__additives-item-qty"><span class="product__additive-qty js-additive-qty"><i class="icon icon-minus-small js-additive-qty-minus product__additive-qty-minus"></i>
                        <input class="product__additive-qty-value js-additive-qty-value" type="text" name="additive_0" value="0"><i class="icon icon-plus-small js-additive-qty-plus product__additive-qty-plus"></i></span></span><span class="product__additives-item-price">{{ topic.topic.price }} <span class="product__additives-item-currency">тнг</span></span></li>
                           {% endfor %}
                          </ul>
                        <!-- Кнопка Применить-->
                        <button class="product__action product__action--secondary" type="submit" formaction="/additives" formmethod="post">Применить</button>
                    </div>
                </div>
                <!-- Варианты-->

                <div class="product__variants">
                    {% for param in product.params %}
                    <div class="product__variants-item product-variant">
                        <input class="product__variants-item-radio product-variant__radio" type="radio" name="diameter1" id="d{{ param.id }}" value="{{ param.price }}" {% if loop.first %}checked{% endif %}>
                        <label class="product__variants-item-label product-variant__label" for="d{{ param.id }}"><i class="icon icon-diameter product-variant__icon"></i><span class="product__variants-item-value product-variant__value">{{ param.value }} </span><span class="product__variants-item-dimension product-variant__dimension">{{ params.info.type }}</span></label>
                    </div>
                    {% endfor %}

                </div>
                <!-- Кол-во -->
                <div class="product__qty">
                    <div class="product-qty js-qty"><i class="product-qty__minus icon icon-minus js-qty-minus"></i>
                        <input class="product-qty__value js-qty-value" type="text" name="product_qty" value="1"><i class="product-qty__plus icon icon-plus js-qty-plus"></i>
                    </div>
                </div>
                <!-- Стоимость-->

                <div class="product__price"><span class="product__price-value">{{ product.price }}</span><span class="product__price-currency">тнг</span></div>

                <!-- Кнопка заказать-->
                <button class="product__action" type="submit" data-modal="cartOrder">Заказать</button>
            </article>
        </form>
        {% endfor %}

    </div>
</section>
<section class="seo-text">
    <div class="container">
        <h1 class="seo-text__title">лучшая пицца в Алматы! </h1>
        <div class="seo-text__body">
            <p>Выбирайте то, что придется вам по душе, а мы в кратчайший срок доставим ваш заказ. С полным ассортиментом представленных блюд можно ознакомиться на соответствующем разделе нашего сайта. Из чего же, из чего же... Заказывая пиццу в нашей компании, вы гарантированно получаете свежую качественную еду, приготовленную из лучших ингредиентов. Мы тщательно отбираем продукты, которые затем используем для заказов. Постоянный контроль качества, строгие стандарты, услуги надежных проверенных поставщиков — вот те принципы, которыми мы руководствуемся. Своей основной задачей мы видим удовольствие клиентов, а потому внимательно отбираем каждый компонент для приготовления блюда. Доставка пиццы Алматы от компании Топперс - это всегда высочайшее качество!</p>
            <p>Если вам понадобилась пицца доставка в алматы, то вы должны знать, что именно здесь вкусное, хрустящее, свежеприготовленное тесто сочетается с великолепной палитрой ингредиентов. Начинка может быть самой разнообразной — на ваше усмотрение. Как правило, это вкуснейший соус в сочетании с различными компонентами. Доступны широкие вариации мясной начинки — аппетитный бекон, нежная курица, сочная ветчина, шашлычные сосиски, и другие. Можно выбрать также рыбную пиццу — с лососем или тунцом. Кроме того, используются овощи: карамелизированный лук, шампиньоны, помидоры, болгарский перец, маслины, и некоторые другие. Какой бы вариант вы не выбрали, доставленная еда будет вкусной, свежайшей, и отменного качества.</p>
        </div>
    </div>
</section>