
<nav class="breadcrumbs">
    <div class="container"><a class="breadcrumbs__item" href="{{ Url.home() }}">Главная</a><a class="breadcrumbs__item">{{ page.info.title }}</a>
    </div>
</nav>


        {{ page.info.text|raw }}
<section class="seo-text">
    <div class="container">
        <h1 class="seo-text__title">{{ Seo.get('h1') }} </h1>
        <div class="seo-text__body">
        {{ Seo.get('text')|raw }}
        </div>
    </div>
</section>