
<div class="breadcrumbs_contacts_page">
    <div class="container">
        <ul class="bread_list">
            <li class="item">
                <a href="{{ Url.home() }}" class="link">{{ this.params.main }}</a>
            </li>
            <li class="item">
                <span> / </span>
            </li>
            <li class="item">
                <a {#href="{{ Url.toRoute('/'.page.alias) }}"#} class="link">{{ page.info.title }}</a>
            </li>

        </ul>
    </div>

</div>

<div class="{{ page.alias }}_page">
    <div class="container">
        <div class="head_section">
            {{ page.info.title }}
        </div>

        {{ page.info.text|raw }}
        <div class="seo_txt">
            <h1 class="title">{{ Seo.get('h1') }}</h1>
            <div class="txt">
                {{ Seo.get('text')|raw  }}
            </div>
        </div>
    </div>



</div>