{{ use('frontend/widgets/NewsWidget') }}
{{ use('frontend/widgets/Advantages') }}
{{ use('frontend/widgets/User') }}
<section class="section section--profile">
    <div class="container">
       {{ user_widget() }}
        <h2 class="section__title is--align-left">Избранные франшизы</h2>
        <div class="section__content">
            <div class="row">
            {% for bookmark in bookmarks %}

                <div class="col col--4-of-12 col--s-12-of-12 col--m-6-of-12 col--l-4-of-12">
                    <article class="franch">
                        <div class="franch__inner">
                            <div class="franch__photo"><img src="{{ bookmark.lot.bimg }}" alt=""></div>
                            <div class="franch__details">
                                
                                <h3 class="franch__title"> <a href="{{ bookmark.lot.url }}">{{ bookmark.lot.name }}</a></h3>
                                <div class="franch__row">
                                    <div class="franch__investments"><i class="icon-money"></i><span><span>Инвестиции</span>{{ bookmark.lot.invest }} {{ bookmark.lot.currencyValue }}.</span></div>
                                    <div class="franch__payback"><i class="icon-calendar"></i><span><span>Окупаемость</span>{{ bookmark.lot.occupation }}</span></div>
                                </div>
                                <div class="franch__row">
                                    <div class="franch__views"><i class="icon-view"></i>{{ lot.views_count }} просмотров</div>
                                    <div class="franch__action"><a class="btn" href="{{ bookmark.lot.url }}">Посмотреть</a></div>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
                {% endfor %}
        </div>
        <hr class="section__divider">
        <div class="section__action"><a class="btn btn--primary btn--lg" href="">Добавить франшизу</a></div>
    </div>
</section>
{{ news_widget_widget() }}
{{ advantages_widget() }}