
<nav class="breadcrumbs">
    <div class="container"><a class="breadcrumbs__item" href="index.html">Главная</a><a class="breadcrumbs__item" href="personal.html">Личный кабинет</a>
    </div>
</nav>
<main class="personal">
    <div class="container">
        <h1 class="page__title">Личный кабинет</h1>
        <div class="tabs js-tabs">
            <div class="tabs__list"><a class="tabs__list-item is--active js-tabs-item" href="#info">Личные данные</a><a class="tabs__list-item js-tabs-item" href="#history">История заказов</a><a class="tabs__list-item js-tabs-item" href="#address">Адреса</a><a class="tabs__list-item js-tabs-item" href="#password">Смена пароля</a><a class="tabs__list-item js-tabs-item" href="#discount">Ваша скидка</a></div>
            <div class="tabs__content js-tabs-content is--active" id="info">
                <div class="row">
                    <div class="col col--5-of-12 col--s-12-of-12 col--m-12-of-12 col--l-5-of-12">
                        <form class="form js-form-personal-info" id="change-settings" action="">
                            <div class="form__field">
                                <label class="form__label">Фамилия</label>
                                <input class="form__input" type="text" name="surname" value="{{ app.user.identity.surname }}">
                            </div>
                            <div class="form__field">
                                <label class="form__label">Имя</label>
                                <input class="form__input" type="text" name="username" value="{{ app.user.identity.username }}">
                            </div>
                            <div class="form__field">
                                <label class="form__label">Отчество</label>
                                <input class="form__input" type="text" name="middle_name" value="{{ app.user.identity.middle_name }}">
                            </div>
                            <div class="form__field form__field--select">
                                <div class="form__select">
                                    <div class="form__input form__input--dummy js-choose-date-toggler">{{ app.user.identity.date }}</div>
                                    <input class="is--hidden js-choose-date-input" type="text" name="birthday" value="{{ app.user.identity.date }}">

                                    <div class="choose-date js-choose-date">
                                        <div class="choose-date__inner">
                                            <div class="choose-date__header">
                                                <div class="choose-date__text">установить дату</div>
                                                <div class="choose-date__title js-choose-date-title">Декабрь 29, 2017</div>
                                            </div>
                                            <div class="choose-date__body js-choose-date">
                                                <div class="choose-date__item is--one-third"><i class="icon icon-plus choose-date__item-plus js-choose-date-change"></i>
                                                    <div class="choose-date__item-input js-choose-date-value" data-type="year">2017</div><i class="icon icon-minus choose-date__item-minus js-choose-date-change" data-incriment="minus"></i>
                                                </div>
                                                <div class="choose-date__item is--one-third"><i class="icon icon-plus choose-date__item-plus js-choose-date-change"></i>
                                                    <div class="choose-date__item-input js-choose-date-value" data-index="11" data-type="month">Декабрь</div><i class="icon icon-minus choose-date__item-minus js-choose-date-change" data-incriment="minus"></i>
                                                </div>
                                                <div class="choose-date__item is--one-third"><i class="icon icon-plus choose-date__item-plus js-choose-date-change"></i>
                                                    <div class="choose-date__item-input js-choose-date-value" data-type="day">23</div><i class="icon icon-minus choose-date__item-minus js-choose-date-change" data-incriment="minus"></i>
                                                </div>
                                            </div>
                                            <div class="choose-date__action"></div><a class="btn btn--primary btn--sm btn--centered js-choose-date-action" href="">Установить</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form__field">
                                <label class="form__label">Телефон</label>
                                <input class="form__input" type="text" name="phone" value="{{ app.user.identity.phone }}">
                            </div>
                            <div class="form__field">
                                <label class="form__label">Дополнительный телефон</label>
                                <input class="form__input" type="text" name="phone_alt" value="{{ app.user.identity.dop_phone }}">
                            </div>
                            <div class="form__field">
                                <label class="form__label">Email</label>
                                <input class="form__input" type="text" name="email" value="{{ app.user.identity.email }}">
                            </div>
                            {#<div class="form__field">
                                <input class="form__checkbox" type="checkbox" name="checkbox" id="subscribe" {% if app.user.identity.discount==1 %}checked{% endif %}>
                                <label for="subscribe">Хочу получать информацию об Акциях для подписчиков</label>
                            </div>#}
                            <div class="form__action">
                                <button class="btn btn--primary btn--lg" type="submit">Сохранить</button>
                            </div>
                            <span class="js-change-settings"></span>
                        </form>
                    </div>
                </div>
            </div>
            <div class="tabs__content js-tabs-content" id="history">
                <table class="personal__order">
                    <tr>
                        <th>Номер заказа:</th>
                        <td>2577965</td>
                    </tr>
                    <tr>
                        <th>Дата:</th>
                        <td>15.12.2017   10:19</td>
                    </tr>
                    <tr>
                        <th>Адрес:</th>
                        <td>Ломоносова ул 11, 55</td>
                    </tr>
                    <tr>
                        <th>Телефон:</th>
                        <td>+38 098 115 75 35</td>
                    </tr>
                    <tr>
                        <th>Заказ:</th>
                        <td>
                            х1 <a href="">Black Капрезе</a> 38см<br>х1 <a href="">Четыре сыра</a> 38см</td>
                    </tr>
                    <tr>
                        <th>ВСЕГО:</th>
                        <td>4 380 <span>тнг</span><br><a href="">Повторить заказ</a></td>
                    </tr>
                </table>
                <table class="personal__order">
                    <tr>
                        <th>Номер заказа:</th>
                        <td>2577965</td>
                    </tr>
                    <tr>
                        <th>Дата:</th>
                        <td>15.12.2017   10:19</td>
                    </tr>
                    <tr>
                        <th>Адрес:</th>
                        <td>Ломоносова ул 11, 55</td>
                    </tr>
                    <tr>
                        <th>Телефон:</th>
                        <td>+38 098 115 75 35</td>
                    </tr>
                    <tr>
                        <th>Заказ:</th>
                        <td>
                            х1 <a href="">Black Капрезе</a> 38см<br>х1 <a href="">Четыре сыра</a> 38см</td>
                    </tr>
                    <tr>
                        <th>ВСЕГО:</th>
                        <td>4 380 <span>тнг</span><br><a href="">Повторить заказ</a></td>
                    </tr>
                </table>
                <table class="personal__order">
                    <tr>
                        <th>Номер заказа:</th>
                        <td>2577965</td>
                    </tr>
                    <tr>
                        <th>Дата:</th>
                        <td>15.12.2017   10:19</td>
                    </tr>
                    <tr>
                        <th>Адрес:</th>
                        <td>Ломоносова ул 11, 55</td>
                    </tr>
                    <tr>
                        <th>Телефон:</th>
                        <td>+38 098 115 75 35</td>
                    </tr>
                    <tr>
                        <th>Заказ:</th>
                        <td>
                            х1 <a href="">Black Капрезе</a> 38см<br>х1 <a href="">Четыре сыра</a> 38см</td>
                    </tr>
                    <tr>
                        <th>ВСЕГО:</th>
                        <td>4 380 <span>тнг</span><br><a href="">Повторить заказ</a></td>
                    </tr>
                </table>
            </div>
            <div class="tabs__content js-tabs-content" id="address">
                <div class="row">
                    <div class="col col--5-of-12 col--s-12-of-12 col--m-12-of-12 col--l-5-of-12">
                        <div class="personal__addresses">
                            {% for address in app.user.identity.address %}
                            <div class="personal__address">{{ address.full_address }}</div>
                            {% endfor %}
                            <div class="personal__address js-add-address"></div>
                        </div>
                        <form class="form js-form-personal-address" id="add-address" action="">
                            <div class="form__title">Добавить адрес</div>
                            <div class="form__field">
                                <label class="form__label">Улица</label>
                                <input class="form__input" type="text" name="street">
                            </div>
                            <div class="row">
                                <div class="col col--6-of-12 col--s-12-of-12 col--m-12-of-12 col--l-6-of-12">
                                    <div class="form__field">
                                        <label class="form__label">Дом</label>
                                        <input class="form__input" type="text" name="house">
                                    </div>
                                </div>
                                <div class="col col--6-of-12 col--s-12-of-12 col--m-12-of-12 col--l-6-of-12">
                                    <div class="form__field">
                                        <label class="form__label">Корпус</label>
                                        <input class="form__input" type="text" name="building">
                                    </div>
                                </div>
                                <div class="col col--6-of-12 col--s-12-of-12 col--m-12-of-12 col--l-6-of-12">
                                    <div class="form__field">
                                        <label class="form__label">Квартира / Офис</label>
                                        <input class="form__input" type="text" name="apartment">
                                    </div>
                                </div>
                                <div class="col col--6-of-12 col--s-12-of-12 col--m-12-of-12 col--l-6-of-12">
                                    <div class="form__field">
                                        <label class="form__label">Подъезд</label>
                                        <input class="form__input" type="text" name="entrance">
                                    </div>
                                </div>
                                <div class="col col--6-of-12 col--s-12-of-12 col--m-12-of-12 col--l-6-of-12">
                                    <div class="form__field">
                                        <label class="form__label">Код домофона</label>
                                        <input class="form__input" type="text" name="doorphone_code">
                                    </div>
                                </div>
                                <div class="col col--6-of-12 col--s-12-of-12 col--m-12-of-12 col--l-6-of-12">
                                    <div class="form__field">
                                        <label class="form__label">Этаж</label>
                                        <input class="form__input" type="text" name="floar">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col col--12-of-12 col--s-12-of-12 col--m-12-of-12 col--l-12-of-12">
                                    <div class="form__action">
                                        <button class="btn btn--primary btn--lg" type="submit">Сохранить</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="tabs__content js-tabs-content" id="password">
                <div class="row">
                    <div class="col col--5-of-12 col--s-12-of-12 col--m-12-of-12 col--l-5-of-12">
                        <form class="form js-form-personal-passsword" id="js-change-password" action="">
                            <div class="form__field">
                                <label class="form__label">Старый пароль</label>
                                <input class="form__input" type="password" name="old_password">
                            </div>
                            <div class="form__field">
                                <label class="form__label">Новый пароль</label>
                                <input class="form__input" type="password" name="new_password">
                            </div>
                            <div class="form__field">
                                <label class="form__label">Повторите пароль</label>
                                <input class="form__input" type="password" name="repeat_password">
                            </div>
                            <div class="form__action">
                                <button class="btn btn--primary btn--lg" type="submit">Сохранить</button>
                            </div>
                            <span class="js-change-password"></span>
                        </form>
                    </div>
                </div>
            </div>
            <div class="tabs__content js-tabs-content" id="discount">
                <div class="personal__discount">Ваша скидка {{ app.user.identity.discount }}</div><a class="btn btn--primary btn--lg" href="{{ Url.toRoute('/get-sale') }}">Как получить скидку</a>
            </div>
        </div>
    </div>
</main>